@model inventory_managemnt_system.Models.Computer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.operatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.operatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.owner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
